
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Lora', serif;
    height: 100%;
}

.material-icons-outlined {
    vertical-align: middle;
    line-height: 1px;
}

.navbar-brand > .material-icons-outlined {
    font-size: 40px;
}
/* 
.navbar-nav ms-auto me-4 my-3 my-lg-0 {
    background-colour: red ;
} */

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.25em;

}

h2.header {
    font-size: 600%;
    font-family: 'Lora', serif;
    color: white;
    font-weight: bold;
}

h2.header2 {
    font-size: 200%;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
  
}

h2.subheading {
    font-size: 250%;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    text-align: center;
}

p {
    font-size: 125%;
    font-family: 'Lora', serif;
}

div.bg-image {
    background-image: url('/images/background.jpg');
    background-size: cover;
}

.image-cropper {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border-color: lightgray;
    border : 5px;
}

div.badge {
    background-color: blueviolet;
}
@media only screen and (max-width: 600px) {
    h2.header {
        font-size: 200%
    }
    h2.header2 {
        font-size: 125%;
    }
    p {
        font-size: 100%;
    }
  }