body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    height: 100%;
}

.material-icons-outlined {
    vertical-align: middle;
    line-height: 1px;
}

.navbar-brand > .material-icons-outlined {
    font-size: 40px;
}

.navbar-nav ms-auto me-4 my-3 my-lg-0 {
    background-colour: red ;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.25em;

}

h2.header {
    font-size: 4em;
    font-family: 'Poppins', sans-serif;
    color: white;
}



div.bg-image {
    background-image: url('/images/background.jpg');
    background-position: center ;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}